* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: auto; /* Allows scrolling */
}

#home-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: no-repeat center center/cover;
  z-index: -1;
  background-repeat: repeat-x;
}

#home-img #home-img img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
}

header {
  /* position: relative; */
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

nav h1 {
  margin: 0;
  font-family: monospace;
  font-size: 2rem;
}

nav div {
  margin: 0;
  font-size: 1.2rem;
}

main {
  margin-top: 6%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto; /* Allows scrolling if content overflows */
}

.game-card {
  position: relative;
  width: 255px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.342);
}

.game-card img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.game-name {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
}

.playBtn {
  background-color: red;
  color: white;
  font-weight: 500;
  border: none;
  height: 29px;
  width: 60px;
  border-radius: 3px;
  box-shadow: 0 0 2px darkslategray;
}

.playBtn:hover {
  background-color: rgb(190, 0, 0);
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  padding: 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

@media (max-width: 550px) {
  nav {
    padding: 0 10px;
  }
  main {
    margin-top: 18%;
    margin-bottom: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.popup {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.842);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.342);
  height: 300px;
  width: 300px;
  padding: 20px;
  z-index: 1001;
  border-radius: 6px;
  color: white;
}

.popup input {
  margin-top: 40px;
  padding: 5px;
  width: calc(100% - 12px);
  border: none;
  outline: none;
}

.popup button {
  margin-top: 30px;
  padding: 5px;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
